<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BinaryExtensions" version="1.0.6896.28656" targetFramework="net472" />
  <package id="Game.NET" version="1.0.2" targetFramework="net472" />
  <package id="Game.NET.Parser" version="1.0.2" targetFramework="net472" />
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net472" />
</packages>